@import "responsive";

// Contacto

.mainContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  form {
    border: 3px solid $verde;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 7px;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include desktop-up(md) {
      width: 70%;
    }
    @include desktop-up(sm) {
      width: 100%;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
    label {
      padding: 5px;
    }
    textarea {
      min-height: 100px;
      max-height: 200px;
      min-width: 100%;
      max-width: 100%;
      color: black;
    }
  }
}

#enviar {
  padding: 5px;
  background-color: #5ffbf1;
  color: black;
  font-size: 1.25rem;
}

.form-redes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  &__text {
    color: $verde;
  }
  &__icons {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    & img {
      transform: scale(0.5);
      background-size: cover;
      background-position: center;
    }
  }
}
