@import "responsive";

// Hero section y Slider50%

.heroMotivacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--h3 {
    color: $verde;
    font-weight: bold;
    margin: auto;
    width: 100%;
    text-align: center;
    @include desktop-up(md) {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
  }
  &--text {
    font-size: 1.5rem;
    color: rgba(56, 56, 56, 0.84);
    margin: auto;
    width: 85%;
    @include desktop-up(md) {
      padding-bottom: 1rem;
    }
  }
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

// ONG´s motivacion

.motivacionTitulo {
  width: 90%;
  height: 10%;
  margin: auto;
  padding-top: 4rem;
  h2 {
    color: $verde;
    text-align: center;
    font-weight: bold;
  }
}

.ong {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  overflow-y: hidden;
  @include desktop-up(md) {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  &Sub {
    background-color: $verde;
    width: 100%;
    display: flex;
    border-radius: 10px;
    @include desktop-up(md) {
      flex-direction: column;
      height: 25rem;
    }
    &__text {
      width: 60%;
      margin-left: 8rem;
      display: flex;
      flex-direction: column;
      color: white;
      @include desktop-up(md) {
        width: 95%;
        margin: auto;
        text-align: center;
      }
      h3 {
        font-weight: bold;
        padding-top: 5px;
        text-decoration: underline;
        margin-left: 10px;
        @include desktop-up(md) {
          padding-bottom: 1rem;
        }
      }
      p {
        margin-left: 10px;
      }
    }
  }
}

.ongBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  &__config {
    text-decoration: none;
    font-variant: small-caps;
    font-size: 1.2rem;
    color: $verde;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid white;
    &:hover {
      color: white;
      background-color: $verde;
    }
  }
}

.ongImg {
  border-radius: 50%;
  position: relative;
  left: 80px;
  background-color: white;
  border: 2px solid $verde;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    @include desktop-up(md) {
      transform: scale(1);
    }
  }
  @include desktop-up(md) {
    margin: auto;
    left: 0px;
    top: 30px;
  }
}
