// usando responsive con mixins

$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
);

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin desktop-up($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
